@media screen and (min-width:1920px) {
 /*Estilização lado da imagem*/
.ld_left_img {
    width: 950px;
    max-height: 30%;
    z-index: 1;
    position: relative;
    animation: ani_img_left 1 2s ease-in-out;
    display: flex;
    align-items: center;
  }
  .ld_rigth_txt .continer_txt_lg {
    width: 90%;
    height: 700px;
    display: flex;
    flex-direction: column;
    text-align-last: left;
    position: absolute;
    margin-top: 10%;
    top: 15%;
    right: 1%;
  }
  .ld_rigth_txt .continer_txt_lg span {
    font-size:1.8rem;
    font-family: "Montserrat";
    font-weight: 900;
    color: white;
    line-height: 30px;
    animation: ani_img_left_to_reigth 1.7s  1 ease-in-out;
    filter: drop-shadow(5px 4px 5px rgba(0, 0, 0, 0.514));
}
  .ld_rigth_txt .continer_txt_lg h2 {
    font-size:4.5rem;
    font-family: "Montserrat";
    font-weight: 700;
    text-transform: uppercase;
    color: yellow;
    animation: ani_img_left_to_reigth 1.5s  1 ease-in-out;
    filter: drop-shadow(5px 4px 5px rgba(0, 0, 0, 0.514));
}
  /*Estilização interna do conteudo do lado direito*/
.ld_rigth_txt .continer_txt_lg h1 {
    font-size: 6rem;
    font-family: "Montserrat";
    font-weight: 800;
    text-transform: uppercase;
    color: yellow;
    line-height: 41px;
    animation: ani_img_left_to_reigth 1s  1 ease-in-out;
    filter: drop-shadow(5px 4px 5px rgba(0, 0, 0, 0.521));
}
.ld_rigth_txt .continer_txt_lg #img_logo_atinfo {
    margin-top: 25%;
    width: 500px;
    height:310px;
    margin-left: 20%;
    animation: ani_opacity 3s 1 ease-in-out;
    filter: drop-shadow(5px 4px 5px rgba(0, 0, 0, 0.76));
}
.ld_rigth_txt .continer_txt_lg #img_wifi_zone {
    content: "";
    position: absolute;
    top: 150px;
    left: 10%;
    width: 45%;
    height: 50%;
    animation: ani_opacity 3s 1 ease-in-out;
    animation: scalada 6s infinite ease-in-out alternate-reverse;
    filter: drop-shadow(5px 4px 5px rgba(0, 0, 0, 0.514));
}

}