@media screen and (min-width:1920px) {
 /*Estilização lado da imagem*/
.ld_left_img {
    width: 950px;
    max-height: 30%;
    z-index: 1;
    position: relative;
    animation: ani_img_left 1 2s ease-in-out;
    display: flex;
    align-items: center;
  }

  .ld_rigth_txt .continer_txt_lg {
    width: 90%;
    height: 700px;
    display: flex;
    flex-direction: column;
    text-align-last: left;
    position: absolute;
    margin-top: 10%;
    top: 15%;
    right: 1%;
  }

  .ld_rigth_txt .continer_txt_lg span {
    font-size:1.8rem;
    font-family: "Montserrat";
    font-weight: 900;
    color: white;
    line-height: 30px;
    animation: ani_img_left_to_reigth 1.7s  1 ease-in-out;
    filter: drop-shadow(5px 4px 5px rgba(0, 0, 0, 0.514));
}

  .ld_rigth_txt .continer_txt_lg h2 {
    font-size:4.5rem;
    font-family: "Montserrat";
    font-weight: 700;
    text-transform: uppercase;
    color: yellow;
    animation: ani_img_left_to_reigth 1.5s  1 ease-in-out;
    filter: drop-shadow(5px 4px 5px rgba(0, 0, 0, 0.514));
}

  /*Estilização interna do conteudo do lado direito*/
.ld_rigth_txt .continer_txt_lg h1 {
    font-size: 6rem;
    font-family: "Montserrat";
    font-weight: 800;
    text-transform: uppercase;
    color: yellow;
    line-height: 41px;
    animation: ani_img_left_to_reigth 1s  1 ease-in-out;
    filter: drop-shadow(5px 4px 5px rgba(0, 0, 0, 0.521));
}

.ld_rigth_txt .continer_txt_lg #img_logo_atinfo {
    margin-top: 25%;
    width: 500px;
    height:310px;
    margin-left: 20%;
    animation: ani_opacity 3s 1 ease-in-out;
    filter: drop-shadow(5px 4px 5px rgba(0, 0, 0, 0.76));
}

.ld_rigth_txt .continer_txt_lg #img_wifi_zone {
    content: "";
    position: absolute;
    top: 150px;
    left: 10%;
    width: 45%;
    height: 50%;
    animation: ani_opacity 3s 1 ease-in-out;
    animation: scalada 6s infinite ease-in-out alternate-reverse;
    filter: drop-shadow(5px 4px 5px rgba(0, 0, 0, 0.514));
}










}
@media screen and (max-width:900px) {
*{
  margin: 0;
  
}
.ld_left_img img{
  z-index: 5;
  position: absolute;
  top: 43%;
  left: -190px;
  width: 440px;
}

.ld_rigth_txt {
  width:190%;
  min-height: 30%;
}

.ld_left_img {
  width:12px;
  max-height: 1%;
  z-index: 1;
  position: relative;
  animation: ani_img_left 1 2s ease-in-out;
  display: flex;
  align-items: center;
}

.ld_rigth_txt .continer_txt_lg h1 {
  font-size: 2.6rem;
}

.ld_rigth_txt .continer_txt_lg h2{
  font-size: 35px;
}

.ld_rigth_txt .continer_txt_lg span{
  font-size: 1.5rem;
  margin-top: 5px;
}

.ld_rigth_txt .continer_txt_lg #img_wifi_zone {
  position: absolute;
  left:60px;
  top: 55%;
  width: 100%;
  height: 60%;
  animation: ani_opacity 3s 1 ease-in-out;
  animation: scalada 6s infinite ease-in-out alternate-reverse;
  filter: drop-shadow(5px 4px 5px rgba(0, 0, 0, 0.514));
}

.ld_rigth_txt .continer_txt_lg #img_logo_atinfo {
  display: none;
  width: 50px;
  height:50px;
  background-color: red;
  animation: ani_opacity 3s 1 ease-in-out;
  filter: drop-shadow(5px 4px 5px rgba(0, 0, 0, 0.76));
}
/*Estilzação do Mapeamento*/
.section_mapeamento h1{
  color: white;
  margin: 0px 0px 20px 0px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 12px;
  text-align: center;
}






.inter_footer_container{
  width: 90%;
  height: 90vh;
}

.txt_entrecontt{
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.txt_entrecontt p{
  color: white;
  font-size: 1.3rem;
  font-family: "Montserrat";
  text-align:center;
  width: 340px;
}

.txt_entrecontt p > span{
  color: yellow;
}

.inter_footer_container{
}
.container_informacoes{
  width: 100%;
  height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_informacoes
.info_atinfo{
  width:100%;
  height: 15vh;
  display: flex;
  align-items: center;
}

.info_atinfo p{
  color: green;
  background-color: white;
  padding: 5px;
  font-size: 1pc;
  text-align: center;
  justify-content: center;
}
.inter_footer_container{
}

.info_atinfo div {
  color: white;
  font-weight: bold;
}
#instagram {
  margin-left: 30px;
}
#whatsapp{
  margin-left: 14px;
}

.info_atinfo div > i {
  font-size: 1rem;
}

.info_atinfo div span {
  font-size: 1rem;
  margin-right: 2px;
}

.img_atendente{
  width: 100%;
  height: 62%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.img_atendente img{
  width: 90%;

}
.viver{
  z-index: 1;
  background-color: white;
  color: green;
  width: 100%;
  text-align: center;
  position: relative;
  top: -10px;
}
.viver p {
  font-size: 0.8rem;
}
.info_atinfo
img{
  display: none;
}

.footer-creditos p{
  text-align: center;
  font-size: 0.5rem;
  font-weight: bolder;
}

.footer-creditos{
  margin: 0px;
}


}
