@media screen and (min-width:1920px) {
 /*Estilização lado da imagem*/
.ld_left_img {
    width: 950px;
    max-height: 30%;
    z-index: 1;
    position: relative;
    animation: ani_img_left 1 2s ease-in-out;
    display: flex;
    align-items: center;
  }

  .ld_rigth_txt .continer_txt_lg {
    width: 90%;
    height: 700px;
    display: flex;
    flex-direction: column;
    text-align-last: left;
    position: absolute;
    margin-top: 10%;
    top: 15%;
    right: 1%;
  }

  .ld_rigth_txt .continer_txt_lg span {
    font-size:1.8rem;
    font-family: "Montserrat";
    font-weight: 900;
    color: white;
    line-height: 30px;
    animation: ani_img_left_to_reigth 1.7s  1 ease-in-out;
    filter: drop-shadow(5px 4px 5px rgba(0, 0, 0, 0.514));
}

  .ld_rigth_txt .continer_txt_lg h2 {
    font-size:4.5rem;
    font-family: "Montserrat";
    font-weight: 700;
    text-transform: uppercase;
    color: yellow;
    animation: ani_img_left_to_reigth 1.5s  1 ease-in-out;
    filter: drop-shadow(5px 4px 5px rgba(0, 0, 0, 0.514));
}

  /*Estilização interna do conteudo do lado direito*/
.ld_rigth_txt .continer_txt_lg h1 {
    font-size: 6rem;
    font-family: "Montserrat";
    font-weight: 800;
    text-transform: uppercase;
    color: yellow;
    line-height: 41px;
    animation: ani_img_left_to_reigth 1s  1 ease-in-out;
    filter: drop-shadow(5px 4px 5px rgba(0, 0, 0, 0.521));
}

.ld_rigth_txt .continer_txt_lg #img_logo_atinfo {
    margin-top: 25%;
    width: 500px;
    height:310px;
    margin-left: 20%;
    animation: ani_opacity 3s 1 ease-in-out;
    filter: drop-shadow(5px 4px 5px rgba(0, 0, 0, 0.76));
}

.ld_rigth_txt .continer_txt_lg #img_wifi_zone {
    content: "";
    position: absolute;
    top: 150px;
    left: 10%;
    width: 45%;
    height: 50%;
    animation: ani_opacity 3s 1 ease-in-out;
    animation: scalada 6s infinite ease-in-out alternate-reverse;
    filter: drop-shadow(5px 4px 5px rgba(0, 0, 0, 0.514));
}










}
@media screen and (max-width:900px) {
*{
  margin: 0;
  pad
}
.ld_left_img img{
  z-index: 5;
  position: absolute;
  top: 25%;
  left: -170px;
  width: 490px;
}

.ld_rigth_txt {
  width:190%;
  min-height: 30%;
}

.ld_left_img {
  width:12px;
  max-height: 1%;
  z-index: 1;
  position: relative;
  animation: ani_img_left 1 2s ease-in-out;
  display: flex;
  align-items: center;
}

.ld_rigth_txt .continer_txt_lg h1 {
  font-size: 2.6rem;
}

.ld_rigth_txt .continer_txt_lg h2{
  font-size: 35px;
}

.ld_rigth_txt .continer_txt_lg span{
  font-size: 1.5rem;
  margin-top: 5px;
}

.ld_rigth_txt .continer_txt_lg #img_wifi_zone {
  position: absolute;
  left:50px;
  top: 55%;
  width: 350px;
  height: 350px;
  animation: ani_opacity 3s 1 ease-in-out;
  animation: scalada 6s infinite ease-in-out alternate-reverse;
  filter: drop-shadow(5px 4px 5px rgba(0, 0, 0, 0.514));
}

.ld_rigth_txt .continer_txt_lg #img_logo_atinfo {
  display: none;
  width: 250px;
  height:250px;
  margin-top: 100%;
  animation: ani_opacity 3s 1 ease-in-out;
  filter: drop-shadow(5px 4px 5px rgba(0, 0, 0, 0.76));
}
.vermais{
  position: absolute;
  height: 20px;
  width: 200px;
  background-color: red;
  top: 100%;
}
/*Estilzação do Mapeamento*/
.section_mapeamento h1{
  color: white;
  margin: 0px 0px 20px 0px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 12px;
  text-align: center;
}






.inter_footer_container{
  width: 90%;
  height: 80vh;
  padding: 10px;
}

.txt_entrecontt{
  margin: 0 auto;
  margin-top: 20px;
}

.txt_entrecontt p{
  color: white;
  font-size: 1.3rem;
  font-family: "Montserrat";
  text-align:center;
  width: 340px;
  margin-left: 20px;
}

.txt_entrecontt p > span{
  color: yellow;
}


.container_informacoes{
  width: 100%;
  height: 440px;
  display: flex;
  margin: 0 auto;
}

.container_informacoes
.info_atinfo{
  width:1100px;
  display: flex;
  flex-direction: column;
  margin: 20px 0px 0px 4px;
}

.info_atinfo p{
  color: green;
  background-color: white;
  border-radius: 10px;
  padding: 1px 1px 1px 3px;
  font-size: 1.2rem;
  text-align: center;
  position: absolute;
  margin-left: 30px;
}

.info_atinfo div {
  color: white;
  font-weight: bold;
  margin: 1px;
}

#whatsapp{
  margin-top: 41px;
}

.info_atinfo div > i {
  font-size: 1.1rem;
  margin-right: 10px;
  margin-left: 87px;
}

.info_atinfo div span {
  font-size: 1.1rem;
  margin-right: 2px;
}

.img_atendente{
  width: 370px;
  position: relative;
}

.img_atendente img{
  width: 330px;
  position: absolute;
  left: -250px;
  top: 120px;
}

.viver{
  width: 420px;
  align-items: center;
  display: flex;
  right:-25px;
  top: 430px;
}.viver p{
  font-size: .7rem;
  
}

.info_atinfo
img{
  display: none;
}

.footer-creditos p{
  text-align: center;
  font-size: 0.6rem;
  font-weight: bolder;
}

.footer-creditos{
  margin: 0px;
}


}
