*{
    padding: 0;
    margin: 0;
}

:root{
    --color-texto-destaques: yellow;
}

.conteiner_top{
    width: 100%;
    height: 100vh;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.conteudo_interno_top{
    width: 95%;
    height: 87vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25%;
}

.lado_direito{
    width: 49%;
    height: 90%;
    display: none;
}

.lado_esquerdo{
    width: 98%;
    height: 98%;
}

.texto_conecte{
    line-height: 40px;
    text-transform: uppercase;
    color: var(--color-texto-destaques);
    text-align: center;
}
.texto_conecte h1{
    font-size: 3.4rem;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}
.texto_conecte h2{
    font-size: 2.6rem;
    font-family: 'Roboto', sans-serif;
}

.texto_abaixo_conece{
    width:90%;
    margin: 0 auto;
    text-align: center;
}
.texto_abaixo_conece span{
    font-size: 1.7rem;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.imagem_wifizone{
    width: 60%;
    height: 240px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 40px;
}
.imagem_wifizone img{
    width: 150%;
    height: 150%;
}

.imagem_logoatinfo{
    width: 90%;
    height: 20%;
    margin:  0 auto;
    text-align: center;
    justify-content: center;
    display: flex;
    margin-left: 40px;
}

.imagem_logoatinfo img{
    width: 100%;
}





main{
    
    background-color:yellow;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mapa{
    display: none;
    background-color: hotpink;
    width: 96%;
    height: 98%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}



.texto-mapa{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}
.iframamapa{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}




.foto-contato{
    width: 100%;
    height: 100%;
    background-color: red;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(45deg, #ff0000cb, #ffff00c0), url(/img/footer/Lovepik_com-400670962-geometric-lines.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container-texto{
    background-color: saddlebrown;
    width: 98%;
    height: 22%;
    text-align: center;
    margin:  0 auto;
    margin-top: 20px;
}
.foto-contato .textos{
    font-size: 1.4rem;
    background-color: royalblue;
    color: white;
}
.container-img-contatos{
    background-color: rgb(128, 94, 0);
    height: 30%;
    width: 98%;
    margin: 0 auto;
}
.container-img-contatos > p{
    margin-top: 10px;
    font-size: 1.1rem;
    border-radius: 4%;
    background-color: white;
    color: green;
    text-transform: uppercase;

}
.contatos{
    background-color: aquamarine;
    width: 100%;
    height: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top:20px;
}
.contatos p{
    background-color: white;
    color: green;
    border-radius: 10px;
    width: 100%;
    height: 30px;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding-top: 5px;
    margin-bottom: 20px;
}
.contatos div i {
    font-size: 1.4rem;
    margin-right: 10px;
}

.contatos div span{
    font-size: 1.4rem;
    margin-right: 10px;
    margin-top: 20px;
}
#whatsapp,
#instagram{
    margin-left: 22px;
}

.foto-atendente{
    background-color: red;
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100%;
    margin-top: 50px;

}
.foto-atendente img{
    width: 240px;
}
.img-atendente{
    background-color: greenyellow;
    width: 100%;
    height: 100%;
}




.footer{
    background-color: green;
    color: black;
    font-size: .8rem;
    text-align: center;
    height: 20px;
}