*{
    padding: 0;
    margin: 0;
}
body{
    animation: opacity 2s 1 ease-in-out;
}

@keyframes opacity {
    0%{
        opacity: 0;
        
    }
    100%{
        opacity: 1;  
    }
}
:root{
    --color-texto-destaques: yellow;
}
body::-webkit-scrollbar{
    background-color: #00934c;
}
body::-webkit-scrollbar-thumb{
    background-color: yellow;
}
body::-webkit-scrollbar{
    width: 10px;
}
.conteiner_top{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(35deg, #00934ce8,#00934ce0),url(../img/ft_main/euamoibt2.png);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center center;
    animation: opacity 2s 1 ease-in-out;
    margin: 0 auto;
}

@keyframes opacity {
    0%{
        opacity: 0;
        
    }
    100%{
        opacity: 1;  
    }
}
.conteudo_interno_top{
    width: 95%;
    height: 87vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lado_direito{
    width: 49%;
    height: 90%;
    display: none;
}

.lado_esquerdo{
    width: 98%;
    height: 98%;
}

.texto_conecte{
    line-height: 40px;
    text-transform: uppercase;
    color: var(--color-texto-destaques);
    text-align: center;
    animation: reigth-to-left 2s 1 ease-in-out;
}

@keyframes reigth-to-left {
    0%{
        transform: translateY(-200px);
    }
    100%{
        
    }
}

.texto_conecte h1{
    font-size: 3.4rem;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}
.texto_conecte h2{
    font-size: 2.6rem;
    font-family: 'Roboto', sans-serif;
}

.texto_abaixo_conece{
    width:90%;
    margin: 0 auto;
    text-align: center;
    animation: reigth-to-left 2s 1 ease-in-out;
}


.texto_abaixo_conece span{
    font-size: 1.7rem;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.imagem_wifizone{
    width: 60%;
    height: 210px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 40px;
    animation: wifizone 2s 1 ease-in-out;
}

@keyframes wifizone {
    0%{
        transform: translateX(-200px);
    }
    100%{
        
    }
}


.imagem_wifizone img{
    width: 150%;
    height: 150%;
    animation: wifi-rotate 3s infinite ease-in-out alternate-reverse;
}
@keyframes wifi-rotate {
    0%{
        transform: rotate(-3deg);
    }
    100%{
        transform: rotate(6deg);
    }
}
.imagem_logoatinfo{
    width: 90%;
    height: 20%;
    margin:  0 auto;
    text-align: center;
    justify-content: center;
    display: flex;
    margin-left: 40px;
}

.imagem_logoatinfo img{
    width: 100%;
    animation: imglogo 2s 1 ease-in-out;
}


@keyframes imglogo {
    0%{
        transform: translateX(200px);
    }
    100%{
        
    }
}

                /*ESTILIZAÇÃO CONTAINER MAPA E CONTATOS*/
main{
    background-color: #00934c;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


                /*ESTILIZAÇÃO SEÇÃO DO MAPA*/
.mapa{
    width: 98%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

    /*ESTILIZAÇÃO IFRAMA DO MAPA*/
.texto-mapa{
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
}
.texto-mapa h2{
    color: yellow;
    font-size: 1.5rem;
    animation: text-pa 1s 1 ease-in-out ;
}
.texto-mapa h3 {
    font-size: 1.1rem;
    color: white;
}
.iframamapa{
    height: 83%;
    width: 95%;
    margin-top: 40px;
    padding: 5px;
    margin:  auto;
}
.iframamapa iframe{
    margin-top: 20px;
    height: 95%;
    width: 99%;
    }


            /*ESTILIZAÇÃO ULTIMA SEÇÃO (CONTEM CONTATOS, IMAGEM DA ATENDENTE)*/
.foto-contato{
    width: 100%;
    height: 90vh;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(32deg, #00934ce3, #009342de), url(../img/footer/Lovepik_nova.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container-texto{
    width: 98%;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
}
.foto-contato .textos{
    font-size: 1.5rem;
    color: white;
}

.container-texto .textos span{
    font-size: 1.6rem;
    color: yellow;
}

                /*ESTILIZAÇÃO PARTE DOS CONTATO E INSTAGRAM*/
.container-img-contatos{
    width: 98%;
    height: 15%;
    margin: 0 auto;
    padding-top: 15px;
}
.container-img-contatos > p{
    border-radius: 4%;
    background-color: white;
    color: rgb(0, 128, 0);
    text-transform: uppercase;  
    font-weight: bolder;
}

.contatos{
    width: 95%;
    height: 95%;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.contatos p{
    background-color: white;
    color: green;
    border-radius: 15px;
    width: 100%;
    height: 30px;
    text-transform: uppercase;
    font-size: 1.1rem;
    padding-top: 5px;
    margin-bottom: 10px;
}

.contatos div i {
    font-size: 1.4rem;
    margin-right: 10px;
    color: white;
}

.contatos div span{
    font-size: 1.4rem;
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: white;
}
#whatsapp,
#instagram{
    margin-left: 22px;
}


                /*ESTILIZAÇÃO DIV DA IMAGEM ATENDENTE*/
.foto-atendente{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
.foto-atendente img{
    width: 100%;
    margin: 0 auto;
}

.img-atendente{
}

.viver{
    background-color: white;
    color: green;
    height: 20px;
    width: 100%;
    border-radius: 15px;
}
.viver p{
    font-size: .9rem;
    }

                    /*ESTILIZAÇÃO FOOTER*/
.footer{
    color: black;
    font-size: .6rem;
    text-align: center;
    height: 20px;
    padding: 3px;
}


