
*{
    padding: 0;
    margin: 0;
}

@media screen and (min-width:1200px) {
    .conteiner_top{
    }
    .conteudo_interno_top{
        position: relative;
    }
    .lado_direito{
        display: block;
        z-index: 1;
        background-image: url(../img/ft_main/imagemlpwif_novo3.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        left:160px;
    }
    .lado_direito img{
        width: 99%;
        animation: home-top-down 1s 1 ease-in-out;
    }

    @keyframes home-top-down {
        0%{
            transform: translateX(-180px);
        }
        100%{
        }
    }
    .lado_esquerdo{
        width: 40%;
        position: absolute;
        right: 140px;
    }
    .texto_conecte {
        height: 20%;
        line-height: 50px;
        margin-bottom: 10px;
    }
    .texto_conecte h1{
        font-size: 4.5rem;
    }
    .texto_conecte h2{
        font-ize: 3.5rem;
    }
    .texto_abaixo_conece{
    }
    .texto_abaixo_conece span{
        font-size: 2rem;
    }
    .imagem_wifizone{
        width: 100%;
        height: 40%;
        position: absolute;
        top:150px;
        right: 50px;
    }
    .imagem_wifizone img{
        width: 60%;
    }
    
    .imagem_logoatinfo{
        position: absolute;
        top: 75%;
        height: 30%;
    }

    main{
    }
    /*ESTILIZAÇÃO CONTEINER DO MINHA SEÇÃO MAPA*/
    .mapa{
        height: 200vh;
        width: 100%;
    }
    .texto-mapa h3{
        font-size: 1.5rem;
        animation: text-pa 1s 1 ease-in-out ;
    }
    @keyframes text-pa {
        0%{
            opacity: 0;
            transform: scale(0.8);
        }
        100%{

        }
    }
    .iframamapa{
    }

    .foto-contato{
    }
    .container-texto{
        width: 50%;
        margin: 0 auto;
        height: 90px;
    }
    .textos{
        font-size: 3rem;
    }
    .container-img-contatos{
        width: 50%;
        height: 17%;
    }

    #wwhats{
        font-size: 0.8rem;
    }
    .contatos p {
        font-size: 1rem;
        height: 20px;
    }

    .contatos div i {
        font-size: 1.2rem;
        margin-right: 10px;
        color: white;
    }
    
    .contatos div span{
        font-size: 1.2rem;
        margin-right: 10px;
        margin-top: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        color: white;
    }

    .foto-atendente{
        height:380px;
        width: 100%;
        margin-top: 4px;
    }


    .img-atendente{
        background-image:url(../img/footer/CINTHYA.PNG);
        background-size: contain;
        background-position: center
         center;
         background-repeat: no-repeat;
    }

    .img-atendente img{
        display: none;
    }
    .viver{
        text-transform: uppercase;
        height: 20px;
        font-size: 1.1rem;
        font-weight: bolder;
        padding: 4px;
    }
    .footer{
        height: 10px;
        font-weight: bold;
        font-size: .8rem;
    }

}