
*{
    padding: 0;
    margin: 0;
}

@media screen and (min-width:1200px) {
    .conteiner_top{
    }
    .conteudo_interno_top{
        position: relative;
    }
    .lado_direito{
        display: block;
        z-index: 1;
        background-image: url(../img/ft_main/imagemlpwif_novo3.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        left:160px;
        animation: home-top-down 2s 1 ease-in-out
    }

    @keyframes home-top-down {
        0%{
            opacity: 0;
            transform: translateX(-180px);
        }
        100%{
        }
    }
    .lado_esquerdo{
        width: 40%;
        position: absolute;
        right: 140px;
    }

    .texto_conecte {
        height: 15%;
        line-height: 33px;
    }
    .texto_conecte h1{
        font-size: 2.6rem;
    }
    .texto_abaixo_conece span{
        font-size: 2.4rem;
        line-height: 40px;
    }
    .imagem_wifizone{
        width: 100%;
        height: 35%;
        position: absolute;
        top:150px;
        right: 50px;
    }
    .imagem_wifizone img{
        width: 60%;
    }
    
    .imagem_logoatinfo{
        position: absolute;
        top: 75%;
        height: 30%;
    }

    /*ESTILIZAÇÃO CONTEINER DO MINHA SEÇÃO MAPA*/
    .mapa{
        width: 95%;
        height: 100vh;
    }
    .texto-mapa h2{
        font-size: 2rem;
        animation: text-pa 1s 1 ease-in-out ;
    }
    .texto-mapa h3{
        font-size: 1.5rem;
        animation: text-pa 1s 1 ease-in-out ;
    }
    @keyframes text-pa {
        0%{
            opacity: 0;
            transform: scale(0.8);
        }
        100%{

        }
    }
    .iframamapa{
        height: 82%;
        width: 98%;
        margin: 0 auto;
    }
    
    .foto-contato{
        width: 95%;
        background-color: #000000;
    }
    .container-texto{
        width: 70%;
        margin-top: 20px;
    }
    .container-texto .textos{
        font-size: 2rem;
    }
    .container-texto .textos span{
        font-size: 2.1rem;
    }
    .container-img-contatos{
        width: 70%;
        height: 15%;
    }

    #wwhats{
        font-size: 0.8rem;
    }
    .contatos p {
        font-size: 1.2rem;
        height: 20px;
    }

    .contatos div i {
        font-size: 1.4rem;
        margin-right: 10px;
        color: white;
    }
    
    .contatos div span{
        font-size: 1.4rem;
        margin-right: 4px;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        color: white;
    }

    .foto-atendente{
        width: 100%;
    }


    .img-atendente{
        width: 310px;
        margin: 0 auto;
    }

    .viver{
        text-transform: uppercase;
        height: 20px;
        font-size: 1.1rem;
        font-weight: bolder;
        padding: 4px;
    }
    .footer{
        height: 10px;
        font-weight: bold;
        font-size: .5rem;
        font-family: 'Roboto', sans-serif;
    }

}